<div class="container">
    <div class="row">
        <div class="col-lg-12 head">
            <a routerLink = "/"><i class="fa fa-arrow-left mb-3"></i></a>
            <h1><strong>BACKGROUND</strong></h1>
        </div>
    </div>
    <div class="row mt-4 about">
        <div class="col-lg-12">
            <p>Hello, <strong>I'm Leela Guna Krishna Kompalli.</strong> <br><br> I know it's quite lengthier, you can call me <strong>Krishna. </strong>I'm an Electronics student with my passion towards <strong> Web Development.</strong></p>
            <p>I recently graduated from <strong><a href="https://www.srmist.edu.in/" target="_blank">SRM Institute of Science and technology</a></strong> in Chennai, India with a percentage of <strong>82.3.</strong></p>
            <p>As a Full Stack Developer, I'm always ready to accept the challenges, that may include web design and develop.</p>
            <p>My Goal is always to provide my best in the job that I've chosen.</p>
            <p><strong>When I'm not in front of computer screen</strong>, I play guitar, listen to music (mostly pop) or I read books.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 head">
            <h1><strong>SKILLS</strong></h1>
        </div>
    </div>
    <div class="row mt-4 skills">
        <div class="row col-lg-12">
            <div class="col-md-3">
                <h5><strong>Languages</strong></h5>
                <ul>
                    <li>
                        JavaScript
                    </li>
                    <li>
                        TypeScript
                    </li>
                    <li>
                        Python
                    </li>
                    <li>
                        HTML
                    </li>
                    <li>
                        CSS/SASS/SCSS
                    </li>
                    <li>
                        SQL
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5><strong>Frameworks</strong></h5>
                <ul>
                    <li>
                        Angular
                    </li>
                    <li>
                        React.js
                    </li>
                    <li>
                        Node.js
                    </li>
                    <li>
                        Deno
                    </li>
                    <li>
                        Express
                    </li>
                    <li>
                        Jquery
                    </li>
                    <li>
                        handlebars
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5><strong>Tools</strong></h5>
                <ul>
                    <li>
                        MongoDB
                    </li>
                    <li>
                        MySQL
                    </li>
                    <li>
                        Amazon S3
                    </li>
                    <li>
                        Git
                    </li>
                    <li>
                        Postman
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5><strong>Design</strong></h5>
                <ul>
                    <li>
                        Figma (Basic)
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 head">
            <h1><strong>Experience</strong></h1>
        </div>
    </div>
    <div class="row mt-4 skills">
        <div class="col-lg-12">
            <h4><strong>Full Stack developer Trainee</strong></h4>
            <h5>Guvi Geek Network Pvt. Ltd.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 18px;">MAR 2020 - JUL 2020</span></h5>
            <ul>
                <li>
                    Learnt required Tech Stack for full stack development.
                </li>
                <li>
                    It includes MongoDB, Express.js, Angular, React.js, Node.js.
                </li>
                <li>
                    Developed various projects using MEAN stack.
                </li>
            </ul>
        </div>
        <div class="view col-lg-12">
            <h5>View My <a routerLink = "/resume"> <strong>Resume</strong></a></h5>
        </div>
    </div>
   
    <div class="row contact col-lg-12">
        <h1><strong>Contact me here...</strong></h1>
    </div>
    <div class="row mt-4 fonts">
        <div class="row col-lg-12">
            <div class="col-md-3">
                <a href="mailto:kompalligk@gmail.com"><i class="fa fa-envelope"></i></a>
            </div>
            <div class="col-md-3">
                <a href="https://www.linkedin.com/in/krishna-kompalli/" target="_blank"><i class="fa fa-linkedin"></i></a>
            </div>
            <div class="col-md-3">
                <a href="https://github.com/killerfizh" target="_blank"><i class="fa fa-github"></i></a>
            </div>
            <div class="col-md-3">
                <a href="https://www.instagram.com/killerfizh/" target="_blank"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>
