<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Hello!</h1>
        
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-12 abt">
        <p>I'm <strong class="name" style="color: dodgerblue;">Krishna Kompalli</strong>, <br>And I'm <span class="type"></span> </p>
      
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 mt-5 mb-5">
        <h4>Get in Touch <span><i class="fa fa-arrow-right mb-3"></i></span>&nbsp; <span class="mail"><a href="mailto:kompalligk@gmail.com">kompalligk@gmail.com</a></span></h4>
      </div>
    </div>

    <div class="row mt-5 menu">
      <div class="row col-lg-12">
        <div class="col-md-3 mb-2">
          <strong><a routerLink = "/about">About</a></strong>
        </div>
        <div class="col-md-3 mb-2">
          <strong><a routerLink = "/resume">Resume</a></strong>
        </div>
        <div class="col-md-3 mb-2">
          <strong><a routerLink = "/projects">Projects</a></strong>
        </div>
        <div class="col-md-3 mb-2">
          <strong><a routerLink = "/interests">Interests</a></strong>
        </div>
      </div>
    </div>
   
  </div>
  <section>
    <div class="wave wave1"></div>
    <div class="wave wave2"></div>
    <div class="wave wave3"></div>
    <div class="wave wave4"></div>
  </section>
 
 


