<div class="container">
    <div class="row mt-4">
        <div class="col-lg-12">
            <a style="font-size: 30px;" routerLink = "/"><i class="fa fa-arrow-left mb-3"></i></a>
            <h1 style="color: dodgerblue;"><strong>Interests</strong></h1>
        </div>
    </div>
    <div class="row int">
        <div class="row col-lg-12">
            <div class="col-md-4 mb-4">
              <h3>Front End Development</h3>
            </div>
            <div class="col-md-4 mb-4">
                <h3>Back End Development</h3>
            </div>
            <div class="col-md-4">
                <h3>Web Designing</h3>
            </div>
        </div>
    </div>
    <div class="row int">
        <div class="row col-lg-12">
            <div class="col-lg-4 mb-4">
              <h3>App Development</h3>
            </div>
            <div class="col-lg-4 mb-4">
                <h3>Data Analysis</h3>
            </div>
            <div class="col-lg-4 mb-4">
                <h3>Machine Learning</h3>
            </div>
        </div>
    </div>
</div>
