<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <a style="font-size: 30px;" routerLink = "/"><i class="fa fa-arrow-left mb-3"></i></a>
            <h1><strong>PROJECTS</strong></h1>
        </div>
    </div>
    <div class="row mt-4 chat">
        <div class="col-lg-6 setImage">
            <img [src]="img9" height="200" width="300">
           
        </div>
        <div class="col-lg-6">
            <h3>NPM Package (Lodash methods)</h3>
            <p>Apply few Lodash techniques on arrays</p>
            <h5>Tech stack used: <span>JS</span></h5>
            <div class="form-inline mt-3">
                <a href="https://www.npmjs.com/package/man-array" target="_blank" class="btn btn-outline-primary">Project</a> &nbsp;&nbsp;
                <a href="https://github.com/killerfizh/npm-man-array" target="_blank" class="btn btn-outline-primary">Github</a>
            </div>
        </div>
    </div>
    <div class="row mt-4 chat">
        <div class="col-lg-6 setImage">
            <img [src]="img1" height="200" width="300">
           
        </div>
        <div class="col-lg-6">
            <h3>Real Time Chat Application</h3>
            <p>Create a user, join a room, share your room name and chat! Yes, chatting became faster and more secured with this application!</p>
            <h5>Tech stack used: <span>Express.js, Angular, Node.js</span></h5>
            <div class="form-inline mt-3">
                <a href="https://ciao-chat.herokuapp.com/" target="_blank" class="btn btn-outline-primary">Project</a> &nbsp;&nbsp;
                <a href="https://github.com/killerfizh/chat-app-MEAN" target="_blank" class="btn btn-outline-primary">Github</a>
            </div>
        </div>
    </div>
    <div class="row mt-5 covid">
        <div class="col-lg-6 setImage">
            <img [src]="img2" height="200" width="300">
           
        </div>
        <div class="col-lg-6">
            <h3>COVID-19 Visualizer and Tracker</h3>
            <p>The basic aim of this application is to track the COVID-19 infected, deceased and recovered cases in India and to visualize the data to the clients.</p>
            <h5>Tech stack used: <span>Angular, Chart.js</span></h5>
            <div class="form-inline mt-3">
                <a href="https://covid19-visualizer-krishna.netlify.app/login" target="_blank" class="btn btn-outline-primary">Project</a> &nbsp;&nbsp;
                <a href="https://github.com/killerfizh/covid19-visualizer-krishna" target="_blank" class="btn btn-outline-primary">Github</a>
            </div>
        </div>
     
    </div>
    <div class="row mt-5 auth">
        <div class="col-lg-6 setImage">
            <img [src]="img3" height="200" width="300">
           
        </div>
        <div class="col-lg-6">
            <h3>User Authentication</h3>
            <p>Register a user, get logged-in and logged-out securely. More features include Track user activity, Send Verification email to respective user when registered, forgot their password and also if their verification time gets expired. After logged-in user can get to use a simple URL-shrinker.</p>
            <h5>Tech stack used: <span>MongoDB, Express.js, Angular, Node.js</span></h5>
            <div class="form-inline mt-3">
                <a href="https://user-auth-shrinker-krishna.netlify.app/login" target="_blank" class="btn btn-outline-primary">Project</a> &nbsp;&nbsp;
                <a href="https://github.com/killerfizh/complete-user-auth-MEAN" target="_blank" class="btn btn-outline-primary">Github</a>
            </div>
        </div>
    </div>
    <div class="row mt-5 post">
        <div class="col-lg-6 setImage">
            <img [src]="img4" height="200" width="300">
           
        </div>
        <div class="col-lg-6">
            <h3>Users-Posts</h3>
            <p>Users can signup and login and can create posts on their own. Viewers can visit the app but can only edit or modify their respective posts only if they log in.</p>
            <h5>Tech stack used: <span>MongoDB, Express.js, Angular, Node.js</span></h5>
            <div class="form-inline mt-3">
                <a href="https://users-posts-krishna.netlify.app/" target="_blank" class="btn btn-outline-primary">Project</a> &nbsp;&nbsp;
                <a href="https://github.com/killerfizh/users-posts-MEAN" target="_blank" class="btn btn-outline-primary">Github</a>
            </div>
        </div>
      
    </div>
    <div class="row mt-5 auth">
        <div class="col-lg-6 setImage">
            <img [src]="img5" height="200" width="300">
           
        </div>
        <div class="col-lg-6">
            <h3>Razorpay Checkout</h3>
            <p>Using the Razorpay API, this application has been built. Inorder to run the back-end which is written in Python, make sure to run the 'app.py' file.</p>
            <h5>Tech stack used: <span>Flask, Angular</span></h5>
            <div class="form-inline mt-3">
                <a href="https://razorpay-checkout-krishna.netlify.app/shop" target="_blank" class="btn btn-outline-primary">Project</a> &nbsp;&nbsp;
                <a href="https://github.com/killerfizh/razorpay-checkout-krishna" target="_blank" class="btn btn-outline-primary">Github</a>
            </div>
        </div>
    </div>
    <div class="row mt-5 post">
        <div class="col-lg-6 setImage">
            <img [src]="img6" height="200" width="300">
           
        </div>
        <div class="col-lg-6">
            <h3>World Countries and their weather conditions</h3>
            <p>This simple application provides the details of all the countries in the world and upon clicking, it provides the weather of its respective capital.</p>
            <h5>Tech stack used: <span>HTML, CSS, Vanilla JavaScript</span></h5>
            <div class="form-inline mt-3">
                <a href="https://killerfizh-countries.netlify.app/" target="_blank" class="btn btn-outline-primary">Project</a> &nbsp;&nbsp;
                <a href="https://github.com/killerfizh/countries-weather" target="_blank" class="btn btn-outline-primary">Github</a>
            </div>
        </div>
      
    </div>
    <div class="row mt-5 auth">
        <div class="col-lg-6 setImage">
            <img [src]="img7" height="200" width="300">
           
        </div>
        <div class="col-lg-6">
            <h3>Miniature Games</h3>
            <p>Hangman and Tic-Tac-Toe. These games are developed using basic HTML and Vanilla JS.</p>
            <h5>Tech stack used: <span>HTML, CSS, Vanilla JavaScript</span></h5>
            <div class="form-inline mt-3">
                <a href="https://killerfizh-hangman.netlify.app/" target="_blank" class="btn btn-outline-primary">Hangman</a> &nbsp;&nbsp;
                <a href="https://github.com/killerfizh/hangman" target="_blank" class="btn btn-outline-primary">Github</a>
            </div>
            <div class="form-inline mt-3">
                <a href="https://killerfizh-tictactoe.netlify.app/" target="_blank" class="btn btn-outline-primary">Tic-tac-Toe</a> &nbsp;&nbsp;
                <a href="https://github.com/killerfizh/tic-tac-toe" target="_blank" class="btn btn-outline-primary">Github</a>
            </div>
        </div>
    </div>
    <div class="row mt-5 post">
        <div class="col-lg-6 setImage">
            <img [src]="img8" height="200" width="300">
           
        </div>
        <div class="col-lg-6">
            <h3>A Simple Website with Latest NEWS using New York Times API</h3>
            <p>This simple application portrays a typical website with integrated NewYork Times API to get the latest details of topics such as Heatlth, Technology, etc., upon clicking the News.</p>
            <h5>Tech stack used: <span>HTML, CSS, Vanilla JavaScript</span></h5>
            <div class="form-inline mt-3">
                <a href="https://thepurplesilhouette.netlify.app/" target="_blank" class="btn btn-outline-primary">Project</a> &nbsp;&nbsp;
                <a href="https://github.com/killerfizh/purple_sihouette" target="_blank" class="btn btn-outline-primary">Github</a>
            </div>
        </div>
     
    </div>
</div>
