<div class="container mt-5" id="container">
    <div class="row mb-2">
        <div class="col-12">
            <a routerLink = "/"><i class="fa fa-arrow-left mb-3" style="font-size: 30px;"></i></a>
         <h1>
            <strong>Krishna Kompalli</strong> &nbsp;&nbsp;&nbsp;<span><a href="../../../assets/pdf/op.pdf" download = "Krishna Kompalli's Resume" style="color: rgb(209, 60, 85);"><i class="fa fa-download" aria-hidden="true"></i></a></span>
         </h1>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12">
         <h5>A Full Stack Web Developer</h5>
        </div>
    </div>
    <div class="row mb-4" id="details">
        <div class="col-3 det">
            <a href="mailto:kompalligk@gmail.com"><span><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;</span><span>Email: </span> kompalligk@gmail.com</a>
        </div>
        <div class="col-3 det">
            <a href="tel:+919952090215"><span><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;</span><span>Phone: </span> +91-9952090215</a>
        </div>
        <div class="col-3 det">
            <a href="https://killerfizh.github.io" target="_blank"><span><i class="fa fa-internet-explorer" aria-hidden="true"></i>&nbsp;</span><span>Portfolio: </span> killerfizh.github.io</a>
        </div>
        <div class="col-3 det">
            <a href="https://github.com/killerfizh" target="_blank"><span><i class="fa fa-github" aria-hidden="true"></i>&nbsp;</span> <span>Github: </span> github.com/killerfizh</a>
        </div>
    </div>

    <div class="insider">
       <div class="row">
         <div class="col-lg-6">
             <div class="skills mb-4">
                 <h3 class="mb-4" style="color: dodgerblue;">
                     Skills
                 </h3>
                 <a>
                     <h5>Programming Languages</h5>  
                 </a>
                 <p>JavaScript, TypeScript, C#, Python, HTML, CSS/SASS/SCSS, SQL </p>
                 <a>
                     <h5>Libraries & Frameworks</h5>
                 </a>
                 <p>Angular, React.js, Node.js, Express, Deno, Jquery, handlebars</p>
                 <a>
                     <h5>Tools & Platforms</h5>
                 </a>
                 <p>MongoDB, MySQL, AWS(EC2/Lambda/S3), Git</p>
                 <a>
                     <h5>Design</h5>
                 </a>
                 <p>
                     Figma
                 </p>
             </div>
             <div class="projects">
               <h3 class="mb-4">Projects</h3>
               <h5>Realtime Chat Application</h5>
               <p>TechStack: Angular, Node.js, Express.js, socketio</p>
               <h5>CRM Application</h5>
               <p>TechStack: Node.js, EJS, MongoDB, Express.js</p>
               <h5>User Authentication</h5>
               <p>TechStack: Angular, Node.js, Express.js, MongoDB</p>
               <h5>Users-posts</h5>
               <p>TechStack: Angular, Node.js, Express.js, MongoDB, multer</p>
               <h5>COVID-19 visualizer and tracker</h5>
               <p>TechStack: Angular, chartjs</p>
               <h5>Twitter Recreated</h5>
               <p>TechStack: Nodejs, Express, Twit</p>
               <h5>Student-Mentor Assign</h5>
               <p>TechStack: Angular, Node.js, Express.js, MongoDB</p>
             </div>
             <div class="interests mb-4">
                <h3>Interests</h3>
                <p>Music, Traveling, Pets, Books, Programming <br>and Playing Badminton.</p>
                
            </div>
                
            </div>
            <div class="col-lg-6">
         
             <div class="education">
                 <h3>Education</h3>
                 <h5>SRM Institute of Science & Technology</h5>
                 <h6 style="color: grey;">JUL 2016 - JUL 2020 &nbsp;&nbsp;// Chennai, India</h6>
                 <p>Bachelor of Technology in Electronics and Communications Engineering with a percentage of <strong>82.3</strong></p>
                 <h5>Sri Chaitanya Junior College</h5>
                 <h6 style="color: grey;">JUL 2014 - JUL 2016 &nbsp;&nbsp;// Guntur, India</h6>
                 <p>Class XII with a percentage of <strong>95.2</strong></p>
                 <h5>Bhashyam High School</h5>
                 <h6 style="color: grey;">JUL 2013 - JUL 2014 &nbsp;&nbsp;// Bapatla, India</h6>
                 <p>Class X with a CGPA of <strong>10.0</strong></p>
             </div>
             <div class="experience">
                <br>
                <h3>Experience</h3>
                <h5>Full Stack Developer Trainee <span style="color: grey;">@ Guvi Geek Network Pvt Ltd.</span></h5>
                <h6 style="color: grey;">MAR 2020 - JUL 2020</h6>
                <ul>
                    <li>
                        Learnt required Tech Stack for full stack development.
                    </li>
                    <li>
                        It includes MongoDB, Express.js, Angular, Node.js.
                    </li>
                    <li>
                        Developed various projects using MEAN stack.
                    </li>
                </ul>
            </div>

             <div class="cert mt-4">
                 <h3>Certifications</h3>
                 <h5>RedHat Certified System Administrator</h5>
                 <h6 style="color: grey;">MAY 2018</h6>
                 <h5>Neural Networks and Deep Learning (COURSERA)</h5>
                 <h6 style="color: grey;">APR 2019</h6>
                 
             </div>

             <div class="lang mt-4">
                 <h3>Languages Known</h3>
                 <p>English, Telugu and Hindi</p>
             </div>
            </div>
       </div>
    </div>
</div>